<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.3/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="frame">
        <div class="frame-main">
            <div class="frame-left">
                <div class="profile">
                    <div class="profile__image">
                        <img src="images/profile.png" alt="Profile image">
                    </div>
                    <div class="profile__name">
                        <%= user.name %>
                    </div>
                    <div class="profile__surname">
                        <%= user.profession %>
                    </div>
                    <div class="profile__social-icon">
                        <a href="">
                            <img src="icon/Vector-2.svg" />
                        </a>
                        <a href="">
                            <img src="icon/Vector-3.svg" />
                        </a>
                        <a href="">
                            <img src="icon/Vector-4.svg" />
                        </a>
                        <a href="">
                            <img src="icon/Vector-5.svg" />
                        </a>
                        <a href="">
                            <img src="icon/Vector-6.svg" />
                        </a>
                    </div>
                </div>
                <div class="line"></div>
                <div class="about">
                    <div class="about__age">
                        <div class="about__age-left">Age:</div>
                        <div class="about__age-right">
                            <%= user.age %>
                        </div>
                    </div>
                    <div class="about__residence">
                        <div class="about__residence-left">Residence:</div>
                        <div class="about__residence-right">
                            <%= user.residence %>
                        </div>
                    </div>
                    <div class="about__frilance">
                        <div class="about__frilance-left">Freelance:</div>
                        <div class="about__frilance-right">Available</div>
                    </div>
                    <div class="about__address">
                        <div class="about__address-left">Address:</div>
                        <div class="about__address-right">
                            <%= user.address %>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="language">
                    <div class="language__title">Languages</div>
                    <% user.languages.forEach(function(item) { %>
                        <div class="language__first">
                            <div class="language__first-left">
                                <%= item %>
                            </div>
                            <div class="language__first-right">100%</div>
                        </div>
                        <div class="language__line">
                            <div class="language__line-outside">
                                <div class="language__line-inside-100"></div>
                            </div>
                        </div>
                        <% }); %>
                </div>
                <div class="line"></div>
                <div class="skills">
                    <div class="skills__title">Skills</div>
                    <% user.skills.forEach(function(item) { %>
                        <div class="skills__content">
                            <div class="skills__content-name">
                                <%= item %>
                            </div>
                            <div class="skills__content-percent">100%</div>
                        </div>
                        <div class="skills__line">
                            <div class="skills__line-outside">
                                <div class="skills__line-inside-100"></div>
                            </div>
                        </div>
                        <% }); %>
                </div>
                <div class="line"></div>
                <div class="extra-skills">
                    <div class="extra-skills__title">Extra Skills</div>
                    <% user.extra_skills.forEach(function(item) { %>
                        <div class="extra-skills__content">
                            <div class="extra-skills__icon">
                                <div class="extra-skills__icon-first">
                                    <div class="extra-skills__icon-second">
                                    </div>
                                </div>
                            </div>
                            <div class="extra-skills__name">
                                <%= item %>
                            </div>
                        </div>
                        <% }); %>
                </div>
                <div class="line"></div>
            </div>
            <div class="frame-midd">
                <div class="slider">
                    <div class="slider__title">Doctor neurologists in OHSU Hospital</div>
                    <div class="slider__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et,
                        volutpat feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.</div>
                    <div class="slider__image"></div>
                    <div class="slider__button">
                        <div class="slider__button-text">HIRE ME </div>
                        <div class="slider__button-icon"></div>
                    </div>
                    <div class="ellipse-1"></div>
                    <div class="ellipse-2"></div>
                    <div class="ellipse-3"></div>
                    <div class="ellipse-4"></div>
                    <div class="ellipse-5"></div>
                    <div class="ellipse-6"></div>
                    <div class="ellipse-7"></div>
                </div>

                <div class="services">
                    <div class="services__title">My Services</div>
                    <div class="services__description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                        amet sint. Velit officia consequat duis enim velit mollit. lorem ipsum</div>
                    <div class="services__row">
                        <div class="services__column">
                            <div class="services__icon">
                                <img src="/author/services_image/1.png" alt="icon">
                            </div>
                            <div class="services__column-title">Web Development</div>
                            <div class="services__column-description">Blog, E-commerce</div>
                        </div>
                        <div class="services__column">
                            <div class="services__icon">
                                <img src="/author/services_image/2.png" alt="icon">
                            </div>
                            <div class="services__column-title">UI/UX design</div>
                            <div class="services__column-description">Mobile app, website design</div>
                        </div>
                        <div class="services__column">
                            <div class="services__icon">
                                <img src="/author/services_image/1.png" alt="icon">
                            </div>
                            <div class="services__column-title">Sound design</div>
                            <div class="services__column-description">Voice Over, Beat Making</div>
                        </div>
                        <div class="services__column">
                            <div class="services__icon">
                                <img src="/author/services_image/4.png" alt="icon">
                            </div>
                            <div class="services__column-title">Game design </div>
                            <div class="services__column-description">Character Design, Props & Object</div>
                        </div>
                        <div class="services__column">
                            <div class="services__icon">
                                <img src="/author/services_image/5.png" alt="icon">
                            </div>
                            <div class="services__column-title"> Photography</div>
                            <div class="services__column-description">portrait, product photography</div>
                        </div>
                        <div class="services__column">
                            <div class="services__column-title">advertising</div>
                            <div class="services__column-description">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit. Vitae nulla diam in ac dictum a urna viverra morbi. </div>
                            <div class="services__column-btn">ORDER NOW</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="frame-right">
                <div class="contrast"></div>
                <div class="nav">
                    <div class="nav__li--active">
                        <img src="/author/menu_icon/home.png" alt="icon">
                    </div>
                    <div class="nav__li">
                        <img src="/author/menu_icon/Icons_Services.png" alt="icon">
                    </div>
                    <div class="nav__li">
                        <img src="/author/menu_icon/Vector2.png" alt="icon">
                    </div>
                    <div class="nav__li">
                        <img src="/author/menu_icon/Vecto.png" alt="icon">
                    </div>
                    <div class="nav__li">
                        <img src="/author/menu_icon/Vector4.png" alt="icon">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>